<!DOCTYPE html>

  <section style="padding-bottom:0px;" id="about-us">
    <div class="container">
      <div class=" " >

        <br><br>

        <div class="col-xs-12 col-sm-12 text-align">
          <center> <img src="/assets/techverx-big.png" class="img-responsive"></center>

          <div class="toptext7">
            <p class="toptext3 noright"><strong>Techverx</strong> is a B2B Information and Communication Technology service provider that utilizes top creative minds and programming talents in the field to create high-quality local and online solutions for their clients. What makes <strong>Techverx</strong> unique is that we are more than a traditional design firm and more than just a technical team, we integrate unique creative vision with a complete understanding of the latest technologies to provide the best IT solutions.

              <strong>Techverx</strong> places the needs of the client at the forefront, utilizing the latest technologies to deliver the best in content and <br>style that achieves the client's goals and exceed their expectations.</p>
            <br><p class="noright">
              <strong> Techverx</strong> is a provider of cutting edge technology solutions and services in USA, Canada, UK, rest of Europe, Middle East and Emerging Economies. <strong>Techverx</strong> is a custom mobile application development, web development and IT consulting company that is founded with the vision to aid businesses in delivering to customers through innovative IT solutions. We help Businesses Bridge the gap between their business and information technology driven goals.<strong> Since 2010,</strong> <strong>Techverx</strong> has been providing customized technology solutions to businesses from small start-ups to Fortune 200 companies.<br>
              <strong>Techverx </strong>strategy, high class creativity, and excellent development skills, and absolute project management makes her a clear choice for those seeking a feature-packed, eye pleasing and technology-driven Internet presence.

            </p>

          </div>

          <div class="toptext5"> Mission </div>
          <div class="toptext6">
            <p> We take the toughest software development challenges and motivate the industrys top talent to deliver incredibly innovative solutions and an unparalleled customer experience.
            </p>
          </div> 

          <div class="toptext5"> Values </div>
          <div class="toptext7">Our essential guiding values are </div>



          <div class="col-sm-6  text-right1 noright">
            <div class="contentbox"> <span class="value_heading">People &amp; Relationship</span><br>

              People are assets and we value people. Our goal is<br>
              to have a great team that not only delivers but gets great opportunities<br>
              to learn and acquire. We try to create atmosphere that crafts<br> 
              trust relationships and healthy learning. 
              We groom our people so that<br>
              they not only shine in their 
              career but eventually help us progress.


              <br> <br>
              <span class="value_heading">Teamwork</span><br>
              Teams produce and teams win. Teamwork is the fundamental entity<br> 
              in enterprise growth. We believe in strong teams and a<br> 
              healthy environment for teams to breed.
              We create a trust relationship <br> 
              between workforces, 
              vendors and our customers and hence achieve success.
            </div>


          </div>
          <div class="col-sm-6 text-left1 top-pad">

            <div class="contentbox"> <span class="value_heading ">Trust</span><br>
              Trust builds relationships, strong and resilient.<br> 
              Our conviction is to keep things transparent <br>
              and hence flourish an atmosphere<br>
              of trust and truthfulness because <br>
              only this can help us grow and be successful.<br>
              <br>
              <span class="value_heading">Innovation / Re-Invention</span><br>
              Being in the industry that transforms every instant,<br>
              we strive to keep up with the ever<br>
              changing technology. We attain this with continuous <br>
              innovation and improvement.
            </div>
          </div>
          <div  class="clearfix"></div>
          <div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>
          <div  class="clearfix"></div>
          <br>
          <div class="col-xs-12 col-sm-6">
            <div class=relationships_logos><img src="/assets/our_relationships_logo.jpg" class="img-responsive"></div>
          </div>
          <div class="col-xs-12 col-sm-6 ">
            <h1>Build on Our Relationships</h1>
            <h1 class=subheading>Certifications & Partnerships</h1>

            <div class=rightbox-toptext3>
              <p>Techverx mechanizes well with the entire software development ecology. We're certified partners with prime software platform providers, social and advertisement networks. </p>
            </div>

            <div class=rightbox-toptext4>
              <p>This enables us to have ceaseless and timely access to cutting-edge technologies that we integrate in your product; envisage your vision through us and achieve a competitive edge.</p>
            </div>
          </div>



        </div>



        <div  class="clearfix"></div>
        <div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>
        <div  class="clearfix"></div>
        <br>

        <div  class="clearfix"></div>
        <div class="top-margen text-align">
          <p >We have a legacy of working hand-in-hand with our clients located in different time zones.</p>
          <span class="about_bottom_text bottom"> We Revolutionize Ideas and Turn your Vision into Reality.</span><br>
        </div>
        <div class="lets_get_started_btn">
          <center><a href="/statics/contact" ><img src="/assets/get_staarted_btn.jpg" class="img-responsive"></a></center>
        </div><br>
        <div class="lets_text text-align">Consultation is Free. Drop us a line and we'll promptly set up a<br>
          a convenient time to understand your needs.</div>
      </div>
      <div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>

    </div>		
  </section>


<!-- Mirrored from shapebootstrap.net/demo/html/corlate/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Oct 2014 10:24:56 GMT -->
</html>
<script>
    $('li').removeClass('active');
    $("#1about").addClass('active');
</script>