<!DOCTYPE html>
<br>
<section style="padding-bottom:0px;" id="about-us">
  <div class="container">
    <div class="" > <br>
      <h1>Carrers</h1>

      <div class="col-md-12 col-sm-12">




        <div style="width:100%;" class="contact_us_leftbox"> 

          <center> <h1> Techverx is Hiring!<br></h1>
            <h1 class="subheading">Apply Today</h1>
            <br>
            <p class="">
              Techverx is an amalgamation of vibrant, tech savvy & brilliant minds that have come together<br> to offer innovative IT solutions in the Global market.

            </p>
            <p class="">We do not seek to be all things to all people simply we have very best in our field.</p>
            <p>
              <span class="value_heading"> We're looking for great people to join us.</span><br>
              If you are passionate and have potential of learning new technologies, want to work <br>with a great team with a lot of fun, Techverx is the place for you!
            </p>

            <p style="padding-top:0px;" class="toptext5" >Please send your resume today at: <a href="mailto:hr@gems.techverx.com">hr@gems.techverx.com</a> </p>

            <p style="padding-top:0px;"class="value_heading"> Let's work for a better day, Everyday!</p>
          </center>

        </div>

      </div>

      <div class="clearfix"></div>

    </div>
  </div>
  <div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>
</section>
<div class="clearfix"></div>


<!-- Mirrored from shapebootstrap.net/demo/html/corlate/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Oct 2014 10:24:56 GMT -->
</html>
<script>
  $('li').removeClass('active');
  $("#1career").addClass('active');
</script>