<!DOCTYPE html>

<section style="padding-bottom:0px;" id="about-us">
  <div class="container">
    <div class="" > <br>
      <h1>Contact</h1>
      <h1 class="subheading">Get In Touch</h1>
      <br>
      <div class="col-md-2 col-sm-6">
        <div class="contact_us_leftbox"> <span> USA:</span><br>
          <br>
          Mascottech LLC.<br>
          2419 NW Wessex Terr <br>
          Hillsboro, Or 97124

        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="contact_us_leftbox"> <span> UK:</span><br>
          <br>
          Techverx (Pvt.) Limited<br>
          627E High Road<br>
          Ilford, London<br>
          IG3 8RA<br>
          Reg. # 08837673

        </div>

      </div>
      <div class="col-md-2 col-sm-6">

        <div class="contact_us_leftbox"> <span> PAKISTAN: </span><br>
          <br>
          Techverx (Pvt.) Limited<br>
          Office # 7, 1 st Floor<br>
          Ross Residentia<br>
          Canal Campus Road<br>
          Lahore 
        </div>
      </div>
      <div class="col-md-6 col-sm-6">

        <img src="/assets/contact.png" class="img-responsive">
      </div>



      <div class="col-md-3 col-sm-6">

        <div class="contact_us_leftbox"> <span> FOUNDER & CEO: </span><br>
          <br>
          Rao Mohsin Raza<br>
          Email: <a href="mailto:mohsin@techverx.com">mohsin@techverx.com</a><br>
          Office: (+92) 4235973880 <br>

        </div>
      </div>


      <div class="col-md-3 col-sm-6">

        <div class="contact_us_leftbox"> <span> HEAD OF SALES & MARKETING USA.</span><br>
          <br>
          Harris K. Niazi<br>
          Email:<a href="mailto:niazi.harris@mascottech.com"> niazi.harris@mascottech.com</a><br>
          Office: (+1) 5033086942 ext 101<br>
          Cell: (+1) 2487709974
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="col-xs-12 col-sm-6">


        <br>


        <div class="content_bottom_box">
          <!-- <div class="ceo_text">Founder & CEO:</div>
           Reach out Rao Mohsin Raza, CEO.<br>
           <a href="mailto:mohsin@techverx.com">mohsin@techverx.com</a><br>
           <br>
           <br>-->





          <div class="ceo_text">Email:</div>
          <span>Contact Email:</span> <a href="mailto:sales@techverx.com">hello@techverx.com</a><br>
          <!-- <span>Phone Number:</span> +924235973880<br>-->
          <!-- <span>General:</span> <a href="mailto:info@techverx.com">info@techverx.com</a><br>--> 

        </div>
      </div>
    </div>

  </div>
</div>
<div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>
</section>
<div class="clearfix"></div>
<!--FOOTER-->

</body>

<!-- Mirrored from shapebootstrap.net/demo/html/corlate/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Oct 2014 10:24:56 GMT -->
</html>
<script>
  $('li').removeClass('active');
  $("#1contact").addClass('active');
</script>