<!DOCTYPE html>
<br>
<br>
  <section style="padding-bottom:0px;" id="about-us">
    <div class="container">
      <div class=" " >

        <div class="col-xs-12 col-sm-6">
          <h1>Services</h1>
          <h1 class="subheading">Envisage Your Vision Through Us</h1>

          <div class="services_text3"> At Techverx we focus on delivering quality projects within the specified time. We have always received appreciations from our clients for the efficient time management and product delivery chain that we offer. Our technical team works closely with the clients at each step to discuss their requirements and work accordingly.<br>
            <br>
            <span>With enormous efforts and great deliverance our business has successfully expanded to UK, USA, Canada, Europe and other emerging economies. </span></div>
          <div style="padding-top:35px;"><a href="/statics/contact" ><img src="/assets/lets_talk_btn.jpg" class="img-responsive"></a></div>


        </div>
        <div class="col-xs-12 col-sm-6 center">
          <img src="/assets/services_img.jpg" class="img-responsive">

        </div>


      </div>

  </section>

  <section style="padding-top:0px;" id="content" class="shortcode-item">
    <div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12">

          <div class="tab-wrap">
            <div class="media">
              <div class="parrent pull-left">
                <ul class="nav nav-tabs nav-stacked">
                  <li class="active"><a href="#tab1" data-toggle="tab" class="analistic-01">Web Designing</a></li>
                  <li class="" ><a href="#tab2" data-toggle="tab" class="analistic-02">Web Development</a></li>
                  <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Mobile Application Development</a></li>
                  <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">E-Commerce Solutions</a></li>
                </ul>
              </div>

              <div class="parrent media-body">
                <div class="tab-content">
                  <div class="tab-pane active in" id="tab1">


                    <div class="media-body">
                      <h1>Web Designing</h1>
                      <h1 class="subheading"> HTML5, Bootstrap</h1><br>
                      <div class="text2">
                        <p>We have a team of creative web and graphic designers to provide our client(s) an exquisite look for their websites based on modern web standards.  Designing is the key element for any website, unless the website embodiments are in good presentation it would be difficult for a general visitor to gain the understanding of the website agenda. Techverx team is highly capable of providing the most eye catching designs that would provide a pleasant and seamless experience for the visitor and potentially turn them into a solid client.</p>

                      </div>

                    </div>
                  </div>

                  <div class="tab-pane " id="tab2">


                    <div class="media-body">
                      <h1>Web Development</h1>
                      <h1 class="subheading">Ruby on Rails, Python/Django, PHP, .NET, AngularJS, Node.js, Ember.js</h1><br>
                      <div class="text2">
                        <p>Online marketing and selling through web portals has become a vital need for emerging and already established businesses to expand their horizons and target a huge number of customers. They need a website that looks pleasing but it should be the one that promotes their products. A website should always attract the customers, and the design along with the contents must explain what the product is about. So, ultimately a well designed website aims at making money. Web design is a combination of web programs or web graphic design, interface design; authoring, standardized code and software; user experience design and search engine optimization.</p>


                      </div>

                    </div>
                  </div>

                  <div class="tab-pane" id="tab3">
                    <h1>Mobile Application Development </h1>
                    <h1 class="subheading"> iOS, Andriod, PhoneGap</h1><br>
                    <div class="text2">
                      <p>We have a huge portfolio of innovative mobile applications that have been produced as per the specifications and satisfaction of our valued customers. Mobile application development is in great demand these days as it has become a passion for technology aspirants to enjoy all the advanced technologies through their phones.  </p>



                    </div>
                  </div>

                  <div class="tab-pane" id="tab4">
                    <h1>E-Commerce Solutions</h1>
                    <h1 class="subheading">Magento, Shopify, Spree, WooCommerce</h1><br>
                    <div class="text2">
                      <p>
                        E-commerce crafts a seamless path for a business to communicate with its target client demographic. E-Commerce provides a gateway for that enable an individual and a business to buy or sell respectively through an online graphical interface. A visitor when visits the website for the first time, it should be an appealing and friendly experience that turns the visitor into a potential customer. At Techverx we provide a wide range of solutions in building E-commerce websites, E-commerce shopping carts, custom E-commerce websites and E-commerce store fronts.</p>
                    </div>
                  </div>


                </div> <!--/.tab-content-->  
              </div> <!--/.media-body--> 
            </div> <!--/.media-->     
          </div><!--/.tab-wrap-->               
        </div><!--/.col-sm-6-->


      </div><!--/.container-->
      <div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>
  </section>



<!-- Mirrored from shapebootstrap.net/demo/html/corlate/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Oct 2014 10:24:56 GMT -->
</html>
<script>
    $('li').removeClass('active');
    $("#1service").addClass('active');
</script>