<!DOCTYPE html>

  <section style="padding-bottom:0px;" id="about-us">
    <div class="container">
      <div class=" wow fadeInDown animated" style="visibility: visible; -webkit-animation: fadeInDown;"> <br>
        <br>
        <section >
          <div class="container">
            <!-- <ul class=" text-center">
              <a class="btn btn-default" href="#all" data-filter="*">All</a>
              <a class="btn btn-default" href="#all" >Web Site</a></li>
              
            <a class="btn btn-default" href="#mobile">Mobile App</a></li>
            
             </ul>-->
            <!--/#portfolio-filter-->
            <br><br><br>

            <div class="row" id="all">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/1-1.png" class="img-responsive"></div>
                    <div style=" margin-left:20px;" class="work_text"> My Food Fast
                      <p>A complete solution for all Restaurants worldwide.</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/1.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">My Food Fast</h1>
                          <p>A complete solution for all Restaurants worldwide. It is a complete delivery management and reporting solution. An app to manage orders from various sales channels - inc. My Food Fast and My Epos as well as others.</p>
                          <a class="preview" href="/assets/profile/1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/#Pepsi Express-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/pepsi.png"></div>
                    <div style=" margin-left:20px;" class="work_text"> Pepsi Express
                      <p>A custom developed online ordering system to order Pepsi drinks and other products. </p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/pepsi.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">Pepsi Express</h1>
                          <p> A custom developed online ordering system to order Pepsi drinks and other products.</p>
                          <a class="preview" href="/assets/profile//pepsi.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/In Field Clipboard-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/11-11.png"></div>
                    <div style=" margin-left:20px;" class="work_text"> In Field Clipboard
                      <p>A resource management system of company that </p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/11.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">In Field Clipboard</h1>
                          <p> A resource management system of company that allow them to maintain their records of employee's work time, assigned work orders, purchases, suppliers, clients ,finance sheets etc.
                            Our system allows you to collect and manage your detailed work-orders and client history directly from the field. It enhances the customer experience by letting you capture customer specific information within the work-order (pictures signatures etc.) to verify that a job was done. It also allows your field-technicians to up sell while on the job.</p>
                          <a class="preview" href="/assets/profile/11.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/Yakidoo-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/yakidoo.png"></div>
                    <div style=" margin-left:20px;" class="work_text"> Yakidoo
                      <p> Earlier this year, Yakidoo™ demonstrated and achieved its </p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/yakidoo.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">Yakidoo</h1>
                          <p> Earlier this year, Yakidoo™ demonstrated and achieved its most exclusive status as a “Kofax Diamond Partner”, one of only twelve worldwide. This July, Yakidoo received the official Diamond Partner Plaque in recognition of this milestone.</p>
                          <a class="preview" href="/assets/profile/yakidoo.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/The Paper Street-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/10-10.png"></div>
                    <div style=" margin-left:20px;" class="work_text"> The Paper Street
                      <p> The Paper street is a platform for companies and investors </p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/10.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">The Paper Street</h1>
                          <p> The Paper street is a platform for companies and investors to interact and the scope extends by providing a loaning system as well.</p>
                          <a class="preview" href="/assets/profile/10.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/UltraVie-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/9-9.png"></div>
                    <div style=" margin-left:20px;" class="work_text"> UltraVie
                      <p> Ultra Vie is an event management system in which users are there to get passes. </p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/9.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">UltraVie</h1>
                          <p> Ultra Vie is an event management system in which users are there to get passes and make their presence confirm at an event. 
                            An event management platform to provide people access to events. It includes free events and also for some events, you have to buy tickets. For free events access you need to have a complete profile along with social networks connected to get a better chance of getting access to the event.</p>
                          <a class="preview" href="/assets/profile/9.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/My Time to Work-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/01-1.png"></div>
                    <div style=" margin-left:20px;" class="work_text">My Time to Work
                      <p> A complete staff and jobs management system.</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/01.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">My Time to Work</h1>
                          <p>A complete staff and jobs management system.</p>
                          <a class="preview" href="/assets/profile/01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--//Sears Sign Shop-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/7-7.png"></div>
                    <div style=" margin-left:20px;" class="work_text">Sears Sign Shop
                      <p> The Sears Signage program will have multiple components.</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/7.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">Sears Sign Shop</h1>
                          <p>The Sears Signage program will have multiple components. The partnership with Sears Canada will allow a smooth transition from order requirements for in-store signage to delivery and reprint option.</p>
                          <a class="preview" href="/assets/profile/7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div id="mobile"></div>
            <div class="clearfix"></div>

            <!--/Beam-e-up-->

            <div class="row">
              <div   >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/2-2.png"></div>
                    <div style=" margin-left:20px;" class="work_text">Beam-e-up
                      <p> This software helps to different types of stores</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/2.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">Beam-e-up</h1>
                          <p>This software helps to different types of stores to promote their sales through many types of promotions of multi brands at the same time depending upon the demographic criteria.</p>
                          <a class="preview" href="/assets/profile/2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/My Animal-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/animal-icon.png"></div>
                    <div style=" margin-left:20px;" class="work_text">My Animal
                      <p> Discovery iPad app (For Africa/America)</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" id="isotope" style="width: 100%;"> <img  src="/assets/profile/animal.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">My Animal</h1>
                          <div class="work_content"> <strong> Features</strong><br>
                            <li> Unique puzzle play design</li>
                            <li> Learning section that will teach facts about each animal</li>
                            <li> HD video and retina display (where available)</li>
                            <li> Professional voice over talent </li>
                            <li> 10 animals from North America</li>
                            <li> Original artwork by a professional children’s book illustrator Ella Charbon</li>
                            <li> Recommended ages 2 and up</li>
                            </ul>
                          </div>
                          <a target="_blank" href="https://itunes.apple.com/tr/app/my-animal-discovery-africa/id554486625?mt=8"><img style="width:75px; height:25px;" src="/assets/work-app-store-btn.png" width="74" height="25"></a> <a class="preview" href="/assets/profile/animal.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/KTango-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/tango_icon.png"></div>
                    <div style=" margin-left:20px;" class="work_text">KTango
                      <p> K-Tango is the sales person’s personal App for gaining intelligence on the product they sell.</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/tango.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">KTango</h1>
                          <div class="work_content"> <strong>With K-Tango sales reps can:</strong>
                            <ul>
                              <li> Gain immediate insight about product functionality, features, benefits and its unique selling points</li>
                              <li> Access their company’s latest product updates</li>
                              <li> Learn about competing products</li>
                              <li> Access pricing & promotional data</li>
                              <li> Answer surveys and provide field based feedback</li>
                              <li> Contact product experts and communicate with peers</li>
                            </ul>
                          </div>
                          <span><a target="_blank" href="http://itunes.apple.com/tr/app/ktango/id453959282?mt=8

                                   "><img style="width:75px; height:25px;" src="/assets/work-app-store-btn.png"></a></span> <span><a target="_blank" href="https://play.google.com/store/apps/details?id=com.ktango"><img style="width:75px; height:25px;" src="/assets/work-google-play-btn.png"></a></span> <a class="preview" href="/assets/profile/tango.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/KarmaCRM-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/1karma.png"></div>
                    <div style=" margin-left:20px;" class="work_text">KarmaCRM
                      <p>KarmaCRM will help you keep all your sales leads and contacts neat and tidy.</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/karma.png" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">KarmaCRM</h1>
                          <div class="work_content"> KarmaCRM will help you keep all your sales leads and contacts neat and tidy. This customer relationship manager hides a powerful backend system behind a clean, simple and usable interface. </div>
                          <span><a 
                              target="_blank" href="https://itunes.apple.com/pk/app/id735484838?mt=8"><img style="width:75px; height:25px;" src="/assets/work-app-store-btn.png"></a></span> <a class="preview" href="/assets/profile/karma.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/Cervizzi’s Martial Arts-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/martirt.png"></div>
                    <div style=" margin-left:20px;" class="work_text">Cervizzi’s Martial Arts
                      <p>Cervizzi's is martial arts app is that provides consumers with program information</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/martal.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">Cervizzi’s Martial Arts</h1>
                          <div class="work_content"> Cervizzi's is martial arts app is that provides consumers with program information, class schedules, and links to videos as well as special offers. So if you want to keep up the schools current programs and get the newest offerings, stay close with our mobile app. Finally, we often send deals and discounts to the app so keep a look out! </div>
                          <span><a 
                              target="_blank" href="https://play.google.com/store/apps/details?id=com.app.cervizzi"><img style="width:75px; height:25px;" src="/assets/work-google-play-btn.png"></a></span> <a class="preview" href="/assets/profile/martal.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/BeehiveHomes-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/beehire.png"></div>
                    <div style=" margin-left:20px;" class="work_text">BeehiveHomes
                      <p>BeehiveHomes app gives the tools to family members to be in constant contact with their relatives.</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/beehire.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">BeehiveHomes</h1>
                          <div class="work_content"> Workers at care centers to provide updates on residents can use the Beehive Homes iPhone app. These updates include a photograph, message, as well as health updates and messages to the family member. 
                            This app requires an iPhone or iPad with a camera. </div>
                          <a class="preview" href="/assets/profile/beehire.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/Acting Out-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/acting.png"></div>
                    <div style=" margin-left:20px;" class="work_text">Acting Out
                      <p>Play When You Want - Take five! Take turns acting and guessing at your own pace.</p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img src="/assets/profile/acting.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">Acting Out</h1>
                          <div class="work_content"> <strong>Features</strong><br>
                            <ul>
                              <li> Play When You Want - Take five! Take turns acting and guessing at your own pace.</li>
                              <li> Achieve Greatness - Over 30 achievements! Can you become the Best Actor/Actress?</li>
                              <li> Got Stuck? Blow It Up! - Puzzled by a difficult word? Blow it up with dynamite and get new words and hints!</li>
                              <li> Never Get Bored! - Still don't like your word choices? Create your own words to act out!</li>
                              <li> Safe - Invite-only play means no unwanted surprises from random strangers!</li>
                              <li> No Facebook Login Required - Play even if you're not on the social network</li>
                              <li> Take Your Time - Record up to 60 seconds of video!</li>
                            </ul>
                          </div>
                          <span><a target="_blank" href="https://itunes.apple.com/us/app/acting-out!-video-charades/id549880107?mt=8"><img style="width:75px; height:25px;" src="/assets/work-app-store-btn.png"></a></span> <a class="preview" href="/assets/profile/acting.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/CapKing-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/cap-king.png"></div>
                    <div style=" margin-left:20px;" class="work_text">CapKing
                      <p>CAPKING awards cash & prizes to the wittiest of the witty photo captions each week. </p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img src="/assets/profile/cap-king.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">CapKing</h1>
                          <div class="work_content"> CAPKING awards cash & prizes to the wittiest of the witty photo captions each week. Got funny photos? Submit caption worthy photos and if we use them in our contests we pay you cash money! </div>
                          <span><a target="_blank" href="https://itunes.apple.com/us/app/acting-out!-video-charades/id549880107?mt=8"><img style="width:75px; height:25px;" src="/assets/work-app-store-btn.png"></a></span> <a class="preview" href="/assets/profile/cap-king.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/Thumb Up Thumb Down-->

            <div class="row">
              <div st class=" isotope" >
                <div class=" apps col-xs-12 col-sm-12 col-md-12 isotope-item bootstrap" >
                  <div class="text_box">
                    <div class="icon_box"><img src="/assets/profile/thumb.png"></div>
                    <div style=" margin-left:20px;" class="work_text">Thumb Up Thumb Down
                      <p>Locations rating system. </p>
                    </div>
                  </div>
                  <div class="recent-work-wrap" style="width: 100%;"> <img  src="/assets/profile/thumb.jpg" alt="">
                    <div class=" hidden-xs">
                      <div class="overlay">
                        <div class="recent-work-inner">
                          <h1 style="color:#fff;">Thumb Up Thumb Down</h1>
                          <div class="work_content"> Locations rating system.</div>
                          <a class="preview" href="/assets/profile/thumb.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="clearfix"></div>

            <!--/.portfolio-item--> 

          </div>
      </div>
    </div>
  </section>
</div>
</div>
<div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>
</section>



<!-- Mirrored from shapebootstrap.net/demo/html/corlate/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Oct 2014 10:24:56 GMT -->
</html>
<script>
    $('li').removeClass('active');
    $("#1work").addClass('active');
</script>