<!DOCTYPE html>
<html lang="en">

</head>

<!--/head-->

 
  <section id="main-slider" class="no-margin">

    <div class="carousel slide">

      <ol class="carousel-indicators">

        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
        <li data-target="#main-slider" data-slide-to="3"></li>
        <li data-target="#main-slider" data-slide-to="4"></li>
        <li data-target="#main-slider" data-slide-to="5"></li>
        <li data-target="#main-slider" data-slide-to="6"></li>

      </ol>
      <div class="carousel-inner"> 
        <!--My Food Fast-->
        <div class="item active" style="background: #fff;">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-6">
                <div class="carousel-content">
                  <h1 class="animation ">My Food Fast </h1>
                  <div class="animation ">
                    <div class="stylescavenger_logo_text3">A complete solution for all Restaurants worldwide. It is a complete delivery management and reporting solution. An app to manage orders from various sales channels - inc. My Food Fast and My Epos as well as others. </div>
                  </div>
                  <div class=" ">
                    <div class=card_banner_text2>
                      <h1 class="subheading">Technology used</h1>
                      <br>
                      <img style=" width:50px; float:left;" src="/assets/icon/1ruby-rail.png" alt=""> <img style=" width:50px; float:left;" src="/assets/icon/12postgres.png" alt=""> <img style=" width:50px; float:left;" src="/assets/icon/5angularjs.png" alt=""> <img style=" width:50px; float:left;" src="/assets/icon/7html5-css3-icon.png" alt=""> <img style=" width:50px; float:left;" src="/assets/icon/8bootstrap.png" alt=""> </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 ">
                <div class="slider-img "> <img style="width:100% !important;" src="/assets/card_banner.jpg" class="img-responsive"> </div>
              </div>
            </div>
          </div>
        </div>

        <!--Pepsi Express-->

        <div class="item" style="background: #fff;">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-6 col-lg-7  hidden-xs  ">
                <div class="slider-img"> <img src="/assets/pepsi.jpg" class="img-responsive"> </div>
              </div>
              <div class="col-sm-4 col-lg-4">
                <div class="carousel-content">
                  <h1 class="animation ">Pepsi Express </h1>
                  <div class="animation ">
                    <div class="stylescavenger_logo_text3">A custom developed online ordering system to order Pepsi drinks and other products. </div>
                  </div>
                  <div class=" animation ">
                    <div class=card_banner_text2>
                      <h1 class="subheading">Technology used</h1>
                      <br>
                      <img style=" width:50px; float:left;" src="/assets/icon/3php.png" alt=""> <img style=" width:50px; float:left;" src="/assets/icon/13MySQL.png" alt=""> </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-7 col-lg-6  hidden-lg hidden-md  ">
              <div class="slider-img"> <img style="width:100% !important;" src="/assets/pepsi.jpg" class="img-responsive"> </div>
            </div>
          </div>
        </div>
        <!--My Animal Discovery-->
        <div class="item" style="background: #fff;">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-6">
                <div class="carousel-content">
                  <h1 class="">My Animal Discovery </h1>
                  <div class="">
                    <div class="stylescavenger_logo_text3"> It is a puzzle app in which user has to join parts of animals correctly.<br>
                      Cocos2d is gaming engine for developing 2D games in iPhone.<br>
                      Chipmunks is a Physics engine.<br>
                      <span class="hidden-xs">Plist contains information about animals i.e. part coordinates, weight, video URLs etc.<br>
                        Video player is also used for playing videos about animals.</span> </div>
                  </div>

                  <div class=" ">
                    <div class=card_banner_text2> <br>
                      <span class=" "><a target="_blank" href="https://itunes.apple.com/tr/app/my-animal-discovery-africa/id554486625?mt=8"><img src="/assets/work-app-store-btn.png"></a></span> </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6  "><br>
                <div class="slider-img"> <img style="width:100% !important;" src="/assets/animal_game.jpg" class="img-responsive"> </div>
              </div>
            </div>
          </div>
        </div>

        <!--In Field Clipboard-->
        <div class="item" style="background: #fff;">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-8  hidden-xs">
                <div class="slider-img"> <img src="/assets/card_banner1.jpg" class="img-responsive"> </div>
              </div>
              <div class="col-sm-4">
                <div class="carousel-content">
                  <h1 class="">In Field Clipboard </h1>
                  <div class="">
                    <div class="stylescavenger_logo_text3"> A resource management system of company that allow them to maintain their records of employee's work time, assigned work orders, purchases, suppliers, clients ,finance sheets etc.<span class="hidden-xs">
                        Our system allows you to collect and manage your detailed work-orders and client history directly from the field. It enhances the customer experience by letting you capture customer specific information within the work-order (pictures signatures etc.) to verify that a job was done. It also allows your field-technicians to up sell while on the job</span> </div>
                  </div>
                  <div class=" ">
                    <div class=card_banner_text2>
                      <h1 class="subheading">Technology used</h1>
                      <br>
                      <img style=" width:50px; float:left;" src="/assets/icon/1ruby-rail.png" alt=""> <img style=" width:50px; float:left;" src="/assets/icon/13MySQL.png" alt=""> <img style=" width:50px; float:left;" src="/assets/icon/8bootstrap.png" alt=""> <img style=" width:50px; float:left;" src="/assets/icon/6nodejs.png" alt=""> </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-7 col-lg-6  hidden-lg hidden-md  ">
              <div class="slider-img"> <img style="width:100% !important;" src="/assets/card_banner1.jpg" class="img-responsive"> </div>
            </div>

          </div>
        </div>
        <!--Yakidoo-->
        <div class="item" style="background: #fff;">
          <div class="container">
            <div class="row slide-margin">

              <div class="col-sm-6">
                <div class="carousel-content">
                  <h1 class="">Yakidoo </h1>
                  <div class="">
                    <div class="stylescavenger_logo_text3"> Earlier this year, Yakidoo™ demonstrated and achieved its most exclusive status as a “Kofax Diamond Partner”, one of only twelve worldwide.<span class="hidden-xs"> This July, Yakidoo received the official Diamond Partner Plaque in recognition of this milestone.</span> </div>
                  </div>
                  <div class=" ">
                    <div class=card_banner_text2>
                      <h1 class="subheading">Technology used</h1>
                      <br>
                      <img style=" width:50px; float:left;" src="/assets/icon/4.net.png" alt=""> 
                      <img style=" width:50px; float:left;" src="/assets/icon/sql.png" alt=""> 
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-sm-6   ">
                <div class="slider-img"> <img style="width:100% !important;" src="/assets/yakidoo.jpg" class="img-responsive"> </div>
              </div> </div>
          </div>
        </div>


        <!--The Paper Street-->
        <div class="item" style="background: #fff;">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-8  hidden-xs">
                <div class="slider-img"> <img src="/assets/moga_banner.jpg" class="img-responsive"> </div>
              </div>
              <div class="col-sm-4">
                <div class="carousel-content">
                  <h1 class="">The Paper Street </h1>
                  <div class="">
                    <div class="stylescavenger_logo_text3"> The Paper street is a platform for companies and investors to interact and the scope extends by providing a loaning system as well. </div>
                  </div>
                  <div class="">
                    <div class=card_banner_text2>
                      <h1 class="subheading">Technology used</h1>
                      <br>
                      <img style=" width:50px; float:left;" src="/assets/icon/1ruby-rail.png" alt="">
                      <img style=" width:50px; float:left;" src="/assets/icon/12postgres.png" alt=""> 
                      <img style=" width:50px; float:left;" src="/assets/icon/7html5-css3-icon.png" alt=""> 
                      <img style=" width:50px; float:left;" src="/assets/icon/8bootstrap.png" alt="">
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-sm-6  hidden-lg hidden-md ">
              <div class="slider-img"> <img style="width:100% !important;" src="/assets/moga_banner.jpg" class="img-responsive"> </div>
            </div>
          </div>
        </div>

        <!--UltraVie-->
        <div class="item" style="background: #fff;">
          <div class="container">
            <div class="row slide-margin">

              <div class="col-sm-6">
                <div class="carousel-content">
                  <h1 class="">UltraVie </h1>
                  <div class="">
                    <div class="stylescavenger_logo_text3"> Ultra Vie is an event management system in which users are there to get passes and make their presence confirm at an event. 
                      An event management platform to provide people access to events.<span class="hidden-xs"> It includes free events and also for some events, you have to buy tickets. For free events access you need to have a complete profile along with social networks connected to get a better chance of getting access to the event</span> </div>
                  </div>
                  <div class=" ">
                    <div class=card_banner_text2>
                      <h1 class="subheading">Technology used</h1>
                      <br>
                      <img style=" width:50px; float:left;" src="/assets/icon/1ruby-rail.png" alt="">
                      <img style=" width:50px; float:left;" src="/assets/icon/6nodejs.png" alt=""> 
                      <img style=" width:50px; float:left;" src="/assets/icon/13MySQL.png" alt="">
                      <img style=" width:50px; float:left;" src="/assets/icon/8bootstrap.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6   ">
                <div class="slider-img"> <img style="width:100% !important;" src="/assets/polo_banner.jpg" class="img-responsive"> </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--Shop Buses-->

      <center>
        <img style=" margin-bottom:15px;" src="/assets/content-line-bg.jpg" class="img-responsive"></center>


      <!--slider end--> 

    </div>
    <!--/.carousel-inner--> 
  </div>
  <!--/.carousel--> 
  <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"></i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"></i> </a> </section>
<!--/#main-slider-->

<section style="padding-top: 0px; margin-top: -24px;" id="feature" >
  <div class="container">
    <div class="center ">
      <br>
      <h1>Our Core Values Include:</h1>
      <br>


      <div class=" ">
        <div class="box-width">

          <div class="midbox">Commitment to our clients’ success</div>
          <div class="midbox">Transparency and integrity in what we do</div>
          <div class="midbox">Continual growth in our knowledge and expertise</div>

        </div>



      </div>
      <div class="clearfix"></div>
      <br>
      <span class="">  <center > <img src="/assets/our.jpg" alt=""  class="img-responsive"> </center></span>
      <div class="our-team-logo box-width1"> 
        <img style=" width:76px; float:left;" src="/assets/icon/1ruby-rail.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/2python.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/3php.png" alt="">
        <img style=" width:76px; float:left;" src="/assets/icon/4.net.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/5angularjs.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/6nodejs.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/7html5-css3-icon.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/8bootstrap.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/9iOS.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/10android.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/11phonegap.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/12postgres.png" alt=""> 
        <img style=" width:76px; float:left;" src="/assets/icon/13MySQL.png" alt="">
        <img style=" width:76px; float:left;" src="/assets/icon/14mongodb.png" alt="">
        <div class="clear"></div>


      </div>



    </div>
    <br><br>
    <div class="contnet-line-box hidden-xs">
      <img src="/assets/content-line-bg.jpg" class="img-responsive"></div>
    <!--/.row--> 
  </div>
  <!--/.container--> 
</section>


<section style="padding-top:0px; padding-bottom: 2px;" id="services" class="service-item">
  <div class="container">
    <div class="">
      <h1>Get Inspired </h1>
      <h1 class="subheading">Words From Our Clients</h1>


    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap ">
          <div class="pull-left"><img src="/assets/r-tiku.png"> </div>
          <div class="media-body">
            <h3 style="line-height: 0px; margin-top:22px;" class="media-heading text201">R. Tiku</h3>
            <div class="text2">Business Growth Catalyst</div>
          </div>
          <div class="clearfix"></div>
          <br>
          <p class="p-text">"The service TechVerx provides is top quality – from initial request for info and proposal to the execution of the activity and de-brief. You are active listeners understanding our unique requirements, able to improvise when requested. The team has a memorable team-building experience. The activity is fun, relevant – and yes, on point!"</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap">
          <div class="pull-left"><img src="/assets/j-narowski.png"> </div>
          <div class="media-body">
            <h3 style="line-height: 0px; margin-top:22px;" class="media-heading text201">J. Narowski</h3>
            <div class="text2">karmaCRM Founder</div>
          </div>
          <div class="clearfix"></div>
          <br>
          <p class="p-text">"Excellent, professional, unique and enjoyable. The team worked hard to adjust to my requirements, and were open to changes in tools and workflow to ensure integration with my team and product."</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="media services-wrap ">
          <div class="pull-left"><img src="/assets/j.kraft.png"> </div>
          <div class="media-body">
            <h3 style="line-height: 0px; margin-top:22px;" class="media-heading text201">J. Kraft</h3>
            <div class="text2">Founder & CEO at ULTRA VIE</div>
          </div>
          <div class="clearfix"></div>
          <br>
          <p class="p-text">"A very positive experience. I am very impressed with your professionalism and willingness to help me in development of my product. Will definitely keep using."</p>
        </div>
      </div>



    </div>
    <!--/.row--> 
  </div>
  <!--/.container--> 
</section>
<div style="margin-top: 0px; padding-bottom:0px;" class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>

<section style="padding-bottom:0px;" id="content">
  <div class="container">
    <div class="row " >

      <h1 class="center">Desire to Deliver the Best</h1>
      <span class="lead fadeInDown">  <center ><img src="/assets/work-speak-img.jpg" class="img-responsive"></center></span>
      <div class="imgbox-text">Techverx is an amalgamation of vibrant, tech savvy & brilliant minds that have come together to offer innovative IT solutions in the Global market. </div> 




      <div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>
      <br>

      <div class="col-xs-12 col-sm-6">
        <h1>Benefit From Our Experience</h1>
        <h1 class=subheading>Let's Get Started</h1>
        <div class="rightbox-toptext3">
          <p> Techverx is established to provide a wide range of IT services and to offer a better interface using the latest technologies over the internet. We aim to conquer great heights as an established and growing Mobile and Web Development company offering a variety of customer-driven & qualitative ICT services to businesses through brilliant professionals under skilled management.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class=rightbox_text>Consultation is free. Drop us a line and we'll promptly set up a<br>
          convenient time to understand your needs</div>
        <br>
        <a href="/statics/contact"><img src="/assets/get_staarted_btn.jpg" class="img-responsive"></a>

      </div>




    </div>

  </div>

  <!--/.row--> 
</div>
<!--/.container--> 

<div class="contnet-line-box"><img src="/assets/content-line-bg.jpg" class="img-responsive"></div>

</section>
<!--/#content-->


<!-- Mirrored from shapebootstrap.net/demo/html/corlate/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 16 Oct 2014 10:23:11 GMT -->
</html>
<script>
    $('li').removeClass('active');
    $("#1home").addClass('active');
</script>