<section style="padding-bottom:0px;" id="bottom">
  <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-tex" style=" ">
          <samp style="font-size:15px;">USA</samp><br>
          MASCOTTECH LLC.<br>
          2419 NW WESSEX TERR <br>
          HILLSBORO, OR 97124.<br>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-tex" style=" "> 
          <samp style="font-size:15px;">ENGLAND</samp><br>
          627E HIGH ROAD<br>
          ILFORD, LONDON - IG3 8RA <br>
          REG. # 08837673<br>
        </div>
      </div>
      <!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">
        <div class="footer-tex" style=" ">
          <samp style="font-size:15px;">PAKISTAN</samp> <br>
          OFFICE # 7, 1ST FLOOR<br>
          ROSS RESIDENTIA<br>
          CANAL CAMPUS ROAD, LAHORE <br>
        </div>
      </div>
      <!--/.col-md-3-->


      <!--/.col-md-3-->

      <div class="col-md-3 col-sm-6">

        <div class="footer-tex" style=" ">
          <div style="clear:both; text-align:right;">
            <img style=" " src="/assets/footer-image.png"></div>
          <div style="text-align:right;">
            <a href="https://www.facebook.com/TechVerx" target="_blank"> <img src="/assets/social/fb.png"></a>
            <a href="https://twitter.com/TechVerx" target="_blank">  <img src="/assets/social/twt.png"></a>
            <a href="https://www.linkedin.com/company/techverx" target="_blank">    <img src="/assets/social/link.png"></a><br>
            <p style="font-size: 11px !important; margin-top: 4px; padding-bottom: 0px;"> © 2014 TECHVERX (PVT) LIMITED</p>


          </div>

        </div>

      </div>
      <!--/.col-md-3--> 
    </div>
  </div>
</section>
<!--/#bottom-->